@import '../../../common/scss/index.scss';
.selectCarType {
  font-family: PingFang-SC-Medium;
  background-color: #ffffff;
  border: none;
  font-size: 0;
  .base {
    padding-top: 80px;
    .searchBox{
      position: fixed;
      left: 0;
      top: 44px;
      padding: 0px 12px 5px 12px;
      width: 100%;
      background-color: #ffffff;
      z-index: 100;
      border-bottom: 1px solid #c7c7c7;
      span{
        float: left;
        display: block;
        color: #646464;
        font-size: 12px;
        height: 20px;
        line-height: 24px;
        padding: 0 5px 3px 5px;
        margin-right: 3px;
        margin-top: 5px;
        border-radius: 3px;
        &:last-child{
          margin-right: 0px;
        }
        &.current{
          color: $mainColor2 !important;
          font-weight: 600;
        }
      }
    }
    .items {
      font-size: 14px;
      .title {
        padding: 4px 18px;
        background-color: #c7c7c7;
        color: #ffffff;
        font-size: 13px;
      }
      .item {
        color: #5D5D5D;
        height: 40px;
        line-height: 40px;
        text-align: left;
        padding-left: 18px;
        @include border1pxBottom($color: #c7c7c7); 
      }
    }
  }
}
