@import '../../common/scss/index.scss';
@mixin bgImage($url){
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url($url + "@3x.png");
  }
}
.carEvaluate{
  font-family: PingFang-SC-Medium;
  .mint-cell-wrapper{
    background-image: none;
  }
  .steps_wrapper {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    .steps {
      font-size: 0;
      .steps_icon {
        margin: 0 auto;
        width: 274px;
        height: 34px;
        background-size: 274px 34px;
        &.bgImg1{
          @include bgImage($url:'../../common/images/apply_title_tab01');
        }
        &.bgImg2{
          @include bgImage($url:'../../common/images/apply_title_tab02');
        }
        &.bgImg3{
          @include bgImage($url:'../../common/images/apply_title_tab03');
        }
      }
      .steps_texts {
        margin: 0 auto;
        font-size: 14px;
        width: 100%;
        display: flex;
        .text {
          flex: 1;
          text-align: center;
          color: #999999;
          &.active {
            color: $main-color;
          }
        }
      }
    }
  }
  .contentSuccessWrapper{
    overflow: hidden;
    background-color: #ffffff;
    padding: 16px;
    .success{
      width: 105px;
      height: 65px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 28px;
      margin-bottom: 48px;
      display: block;
      @include bgImage($url:'../../common/images/icon_success');
      background-repeat: no-repeat;
      background-size: 105px 65px; 
    }
    .text{
      font-size: 13px;
      text-align: center;
      line-height: 24px;
    }
    .btnWrapper {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .next_step_btn {
        @include btn($width: 150px);
      }
    }
  }
  .contentWrapper {
    overflow: hidden;
    background-color: #ffffff;
    padding-left: 16px;
    margin-top: 12px;
    .myCellWrapper {
      @include cell();
      @include border-1px();
    }
    .selectModel{
      padding: 8px 12px;
      @include border-1px();
    }
    .selectTitle{
      padding: 0px 12px;
      height: 40px;
      line-height: 40px;
      @include border-1px();
      width: 100%;
      font-size: 18px;
      color: #323232;
      background-color: #ffffff;
      .text {
        line-height: 44px;
        text-align: center;
      }
      .back-img {
        width: 10px;
        height: 17px;
        background-image: url('../../common/images/btn_back.png');
        background-size: 100% 100%;
        @include extend-click();
        position: absolute;
        top: 14px;
        left: 15px;
      }
    }
    // .beginBtn{
    //   width: 100px;
    //   margin: 20px auto;
    //   display: block;
    // }
  }
  .btnBox{
    .beginEvaluateBtn{
      width: 96px;
      height: 86px;
      margin: 0px auto;
      display: block;
      // @include bgImage($url:'./apply_btn_begin');
      background-image: url("http://static.hpbanking.com/xg/uploads/files/426e20428c984e0b968443458fb5a653-222-230.png");
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        background-image: url("http://static.hpbanking.com/xg/uploads/files/975ab0a618ac4faf2c198b39bf224a8c-333-345.png");
      }
      background-repeat: no-repeat;
      background-size: 104px 104px; 
    }
    .btnWrapper {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
      .amount{
        color: $main-color;
        font-size: 24px;
      }
      .next_step_btn {
        @include btn($width: 150px);
      }
    }
  }
  .advantageWrapper{
    padding-left: 16px;
    padding-right: 16px;
    .title{
      border-left: 3px solid $main-color;
      padding-left: 10px;
    }
    .content{
      display: flex;
      background-color: #ffffff;
      margin-top: 12px;
      .box{
        flex: 1;
        text-align: center;
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        .img{
          width: 38px;
          height: 38px;
          margin: 0 auto;
          display: block;
          background-repeat: no-repeat;
          background-size: 38px 38px;
          &.img1{
            @include bgImage($url:'../../common/images/icon_rate');
          }
          &.img2{
            @include bgImage($url:'../../common/images/icon_quick');
          }
          &.img3{
            @include bgImage($url:'../../common/images/icon_limit');
          }
        }
      }
    }
  }
  .cooperationPlatWrapper{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 26px;
    .title{
      border-left: 3px solid $main-color;
      padding-left: 10px;
    }
    .content{
      display: flex;
      background-color: #ffffff;
      margin-top: 20px;
      margin-bottom: 30px;
      .box{
        text-align: center;
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        div{
          padding-top: 6px;
          padding-bottom: 6px;
          color: #646464;
          padding-left: 5%;
        }
        &.flex1{
          flex: 0 0 36%;
        }
        &.flex2{
          flex: 0 0 64%;
        }
        .img{
          width: 93px;
          height: 53px;
          margin: 10px auto 0 auto;
          display: block;
          background-repeat: no-repeat;
          background-size: 93px 53px;
          background-image: url("http://static.hpbanking.com/xg/uploads/files/c79e44d1738fa9b451ef700f3b9d1b8e-279-159.png");
          @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
            background-image: url("http://static.hpbanking.com/xg/uploads/files/a1825def5fff10ae428796b4304dad7f-186-106.png");
          }
        }
      }
    }
  }
}